/* Разметка: */

/* Карточки переговорок */

/* ---------- */

.App {
  position: relative;
  min-height: 100vh;
}

.App.App--mobile {
  text-align: center;
}

.App--no-scroll {
	overflow: hidden;
}

.App-header {
	position: relative;
	width: 100%;
	height: 150px;
	padding: 20px;
	color: black;
}
.App--mobile .App-header {
        height: auto;
        width: 90%;
        padding: 10px;
        margin: auto;
}

.App-header h2 {
	font-size: 30px;
	margin: 20px 0;
}


.table-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tealsy-btn {
	box-shadow: 0px 10px 14px -7px #2e2e2e;
	background:linear-gradient(to bottom, #00ab25 5%, #02c22b 100%);
	background-color:#00ab25;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #00ab25;
	text-transform: uppercase;
	outline: none;
}
.App--mobile .tealsy-btn {
        margin: 10px auto;
}
.tealsy-btn:hover {
	background:linear-gradient(to bottom, #02c22b 5%, #00ab25 100%);
	background-color:#02c22b;
}
.tealsy-btn:active {
	position:relative;
	top:1px;
}
.orange-btn {
	box-shadow: 0px 10px 14px -7px #b96403;
	background:linear-gradient(to bottom, #b97629 5%, #ff8800 100%);
	background-color:#b97629;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	width: 160px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.orange-btn:hover {
	background:linear-gradient(to bottom, #e29033 5%, #fd9319 100%);
	background-color:#b97629;
}
.orange-btn:active {
	position:relative;
	top:1px;
}

.showCalendar {
	position: fixed;
    top: 151px;
    left: 18%;
}

.App-header .react-datepicker .react-datepicker-container .react-datepicker-top {
	background: #00ab25;
}

.dontShowCalendar {
	display: none;
}

.calendar-input {
	width: 180px;
	margin: 0 20px;
	display: inline-block;
}

table {
  border-collapse: collapse;
}

th, td {
  min-width: 182px;
  min-height: 120px;
  padding: 15px;
  border: 1px solid rgb(173, 173, 173);
  vertical-align: top;
}

.timecell__time,
.timecell__date {
	font-size: 15px;
	font-weight: bold;
}

.timecell__date {
	font-size: 16px;
}

.occupied {
	background-color: rgba(0, 128, 0, 0.2);
}

/* Карточки переговорок */

.confCard {
	position: relative;
	color: #fff;
	text-align: center;
}

.confCard::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 100%;
	background-color: #70A53B;
}

.confCard__number {
  color: #70A53B;
  font-size: 46px;
  line-height: 46px;
}

.confCard > p {
	color: inherit;
	margin: 0;
	padding: 5px;
}

.confCard__title {
	font-size: 15px;
}

.confCard__name {
	font-size: 20px;
}

th.confCard-1,
th.confCard-4, 
th.confCard-8, 
th.confCard-14,
th.confCard-15 {
	background-color: #0F0D0F;
}

th.confCard-5,
th.confCard-12 {
	background-color: #455B3D;
}

th.confCard-2 {
	background-color: #fff;
	color: #000;
}

th.confCard-3,
th.confCard-13 {
	background-color: #872B23;
}

th.confCard-6 {
	background-color: #D56B16;
}

th.confCard-7 {
	background-color: #D9D3B4;
	color: #000;
}

th.confCard-9 {
	background-color: #63237A;
}

th.confCard-10 {
	background-color: #E1D881;
	color: #000;
}

th.confCard-11 {
	background-color: #EFCDD8;
	color: #000;
}

/* Карточки переговорок */


/*  */
tbody tr:first-child td:nth-child(n + 2) {
  text-align: center;
  color: rgb(59, 59, 59);
}

tbody td * {
	margin-bottom: 10px;
}

/* askModal */
.askModal {
    position: fixed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 56px #9a9a9a;
    background: #fff;
}

.askModal button:first-of-type {
	margin-right: 20px;
}

.askModal--hidden {
  display: none;
}

.askModal--mobile {
  position: fixed;
  width: 50%;
}

/* Calendar */
.react-datepicker-component .react-datepicker-input input {
	font-weight: bold;
    text-shadow: 0 0 1px #000;
    font-size: 16px;
}
.modal__form .react-datepicker-component .react-datepicker-input input {
	font-weight: normal;
    text-shadow: none;
    font-size: 14px;
    font-weight: 600;
}


/* Loader */
.center {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.center  *:before,
.center *:after {
  box-sizing: border-box;
}

.center h1 {
	position: absolute;
	width: 100vw;
	top: 30vh;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.center .loader {
	position: absolute;	
	--color: #5d62bd;
	top: 50%;
	left: 48%;
	width: 100px;
	height: 100px;
	background-color: var(--color);
	outline: 6px solid var(--color);
	outline-offset: -1px;
	-webkit-transform: rotate(45deg) scale(0.5);
			transform: rotate(45deg) scale(0.5);
}
.loader:before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background-color: var(--color);
  -webkit-animation: rotate 3s infinite;
          animation: rotate 3s infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: translate(-5px, -105px) rotate(0deg) scale(1.1);
            transform: translate(-5px, -105px) rotate(0deg) scale(1.1);
  }
  25% {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: translate(-5px, -105px) rotate(-180deg) scale(1.1);
            transform: translate(-5px, -105px) rotate(-180deg) scale(1.1);
  }
  26% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: translate(-5px, 105px) rotate(-180deg) scale(1.1);
            transform: translate(-5px, 105px) rotate(-180deg) scale(1.1);
  }
  50% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: translate(-5px, 105px) rotate(-360deg) scale(1.1);
            transform: translate(-5px, 105px) rotate(-360deg) scale(1.1);
  }
  51% {
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: translate(5px, 105px) rotate(-360deg) scale(1.1);
            transform: translate(5px, 105px) rotate(-360deg) scale(1.1);
  }
  75% {
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: translate(5px, 105px) rotate(-540deg) scale(1.1);
            transform: translate(5px, 105px) rotate(-540deg) scale(1.1);
  }
  76% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: translate(5px, -105px) rotate(-540deg) scale(1.1);
            transform: translate(5px, -105px) rotate(-540deg) scale(1.1);
  }
  100% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: translate(5px, -105px) rotate(-720deg) scale(1.1);
            transform: translate(5px, -105px) rotate(-720deg) scale(1.1);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: translate(-5px, -105px) rotate(0deg) scale(1.1);
            transform: translate(-5px, -105px) rotate(0deg) scale(1.1);
  }
  25% {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: translate(-5px, -105px) rotate(-180deg) scale(1.1);
            transform: translate(-5px, -105px) rotate(-180deg) scale(1.1);
  }
  26% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: translate(-5px, 105px) rotate(-180deg) scale(1.1);
            transform: translate(-5px, 105px) rotate(-180deg) scale(1.1);
  }
  50% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: translate(-5px, 105px) rotate(-360deg) scale(1.1);
            transform: translate(-5px, 105px) rotate(-360deg) scale(1.1);
  }
  51% {
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: translate(5px, 105px) rotate(-360deg) scale(1.1);
            transform: translate(5px, 105px) rotate(-360deg) scale(1.1);
  }
  75% {
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: translate(5px, 105px) rotate(-540deg) scale(1.1);
            transform: translate(5px, 105px) rotate(-540deg) scale(1.1);
  }
  76% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: translate(5px, -105px) rotate(-540deg) scale(1.1);
            transform: translate(5px, -105px) rotate(-540deg) scale(1.1);
  }
  100% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: translate(5px, -105px) rotate(-720deg) scale(1.1);
            transform: translate(5px, -105px) rotate(-720deg) scale(1.1);
  }
}

