body, h1, h2, h3, h4, h5 {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
}