.modal__wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
    background-color: #fff;
    overflow: scroll;
    transition: transform .5s ease 0s, opacity .5s ease 0s, z-index 0s;
    z-index: 10;
}
.App--mobile .modal__wrap {
    height: 100vh;
}

.modal__wrap--hidden {
    opacity: 0;
    transition: transform .5s ease 0s, opacity .5s ease 0s, z-index 0s ease .5s;
    transform: scale(.95,.95);
    z-index: -1;
}

.btn-bottom {
    margin: 20px;
    width: fit-content;
}
.btn-edit {
    margin-left: 18px;
}

.modal__form {
    height: 250vh;
    display: flex;
    flex-direction: column;
}

.modal__form label {
    width: fit-content;
    margin: 20px;
    position: relative;
}

.modal__form label span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    width: 200px;
}
.App--mobile .modal__form label,
.App--mobile .modal__form label span {
    width: 90%;
}

.modal__form .modal__input,
.modal__form .modal__textarea,
.modal__form .modal__select {
    position: relative;
    display: inline-block;
    width: 330px;
    height: 36px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 60px;
    font-size: 14px;
    color: #354052;
    font-weight: 600;
    background: linear-gradient(#fff, #f2f4f7);
    border: 1px solid #ced0da;
    border-radius: 4px;
}

.App--mobile .modal__form .modal__input,
.App--mobile .modal__form .modal__textarea,
.App--mobile .modal__form .modal__select {
    width: 90%;
    margin: auto;
    display: block;
}

.modal__form .modal__input--error,
.modal__form .modal__textarea--error,
.modal__form .modal__select--error,
.modal__form .modal__textarea--error {
    border: 1px solid red;
}

.modal__form .modal__textarea {
    height: 100px;
}

.modal__form .modal__input--calendar {
    display: inline-block;
    width: 330px;
}
.App--mobile .modal__form .modal__input--calendar {
    width: 90%;
}

.modal__form .modal__select--multiple {
    margin-right: 40px;
    color: transparent;
    background: transparent;
    border: none;
    outline: none;
}
.modal__form .modal__select--multiple option {
    color: black;
}

.modal__select-overlay {
    position: absolute;
    background: linear-gradient(#fff, #f2f4f7);
    border: 1px solid #ced0da;
    border-radius: 4px;
    height: 100px;
    top: -23px;
    left: 710px;
    z-index: 2;
    padding: 0 10px;
    overflow: scroll;
}

.App--mobile .modal__select-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    margin: 20px auto;

}

.modal__select-overlay--editing {
    z-index: 2;
}

.modal__select-overlay .modal__select-overlay__delete-btn {
    display: none;
}

.modal__select-overlay--editing .modal__select-overlay__delete-btn {
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    font-size: 20px;
    color: red;
    background: none;
    border: none;
    outline: mome;
}


.modal__form .modal__select--input {
    position: absolute;
    left: 200px;
}

.custom-select {
    position: absolute;
    left: 200px;
    bottom: 85%;
    max-height: 40vh;
    width: 330px;
    background: #fff;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    z-index: 1;
    overflow: scroll;
}
.App--mobile .custom-select {
    left: 6%;
    width: 88%;
}

.custom-select--hidden {
    display: none;
}

.custom-select--bordered {
    border: 1px solid #cecece;
}

label .modal__select-overlay span {
    display: inline-block;
    width: auto;
    margin-right: 6px;
    padding: 2px 40px 2px 2px;
    white-space: pre;
    font-size: 16px;
    color: #000;
}

label .modal__select-overlay span b {
    border-radius: 50%;
    padding: 2px 6px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}