/* keyboard */
.keyboard {
	position: fixed;
	bottom: 320px;
	left: 0;
    width: 100vw;
	transform: translateY(0);
	padding: 0 0 10px 0;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	background: rgba(255,255,255, 0.8);
	transition: transform .6s, opacity .6s;
	z-index: 10;
}

.keyboard--hidden {
	transform: translateY(300px);
	opacity: 0;
	z-index: -1;
}

.keyboard > div {
	width: 80%;
	display: flex;
	justify-content: center;
}

.keyboard button {
	font-size: 20px;
	background-color: #fff;
	box-shadow: 0 0 5px rgb(196, 196, 196);
	margin: 5px;
	padding: 12px 25px;
	white-space: pre;
}

.keyboard .keyboard_key--space {
    min-width: 30vw;
}

.keyboard__keys--first-row button:first-of-type{
	color: red;
}